html, body {
    height: 95%;
    margin: 0;
    padding: 0;
}

.tara-content {
    width: 1024px;
}

.tara-navbar {
    background: #C5E1A5;
}

.uk-navbar-brand, .uk-navbar-nav>li>a {
    /*color: #4E342E;*/
}

.uk-nav-navbar > li > a {
    box-shadow: 0 1px 0 0 rgba(176,190,197 ,1);
    color: #3591ac;
    transition: all 0.3s ease 0s;
}

.uk-navbar-nav > li.uk-open > a, .uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a:focus {
    background-color: #C5E1A5;
    color: #607D8B;
    outline: 0 none;
}

.uk-dropdown-navbar {
    margin-top: 4px;
    background: #C5E1A5;
}

.tara-wrapper {
    min-height: 100%;
    position: relative;
}

.tara-middle {
    background: none repeat scroll 0 0 #fff;
}

.tara-footer {
    bottom: 0;
    left: 0;
    background: none #9ACD32;
    margin-top: 5px;
    height: 3px;
    width: 100%;
    position: absolute;
}

.tara-no {
    width: 5px;
}

.tara-60 {
    width: 60px;
}

.uk-button-tara {
    background-color: #6B8E23;
    color: #fff;
}

.uk-button-tara:hover, .uk-button-tara:focus {
    background-color:#9ACD32;
    color:#555;
}

.uk-table-striped tbody tr:nth-of-type(odd){
    background:#FFDAB9;
}

.uk-table-hover tbody tr:hover{
    background:#FFEFD5;
}

.uk-table caption {
    border-top: 1px solid #FFA07A;
    border-bottom: 1px solid #FFA07A;
}

.uk-table tfoot {
    border-top: 1px solid #FFA07A;
}

.uk-form-row-foot {
    padding-top: 5px;
    border-top: solid 1px #FFA07A;
}

.tara-thead {
    border-bottom: 1px solid #000;
}

.uk-button-primary {
    background-color: #9ACD32;
}

.uk-navbar-nav > li.uk-active > a {
    background-color: #8BC34A;
}